[submodule "modules/kostache"]
	path = modules/kostache
	url = https://github.com/zombor/KOstache.git
[submodule "public/twitter-bootstrap"]
	path = public/twitter-bootstrap
	url = https://github.com/twitter/bootstrap.git
